.Diagnosis {
    // background-color: $brand-secondary;
    // margin-top: 2rem;
    h6 {
        font-size: 1.5em;
        position: relative;
        margin-bottom: 2rem;
        span {
            position: relative;
            background-color: $brand-primary;
            z-index: 1001;
            padding: 0 0.8rem;
            font-weight: 700;
            color: $brand-quaternary;
        }
        .divider-horizontal {
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $brand-quaternary;
            z-index: 100;
            top: 50%;
        }
    }
    padding: 1rem;
    button {
        user-select: none;
        cursor: pointer;
        display: inline-block;
        background-color: $brand-tertiary;
        padding: 1rem;
        margin-right: 0.5rem;
        &:disabled {
            cursor: no-drop;
            background-color: $oc-gray-1;
            color: $oc-gray-6;
        }
        &.add-diagnosis {
            color: $brand-quaternary;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5em;
            padding: 0.5rem;
            span {
                margin-left: 0.5rem;
                font-size: 1rem;
            }
        }
    }
    ul {
        margin-bottom: 2rem;
        li {
            .list-item-header {
                display: flex;
                justify-content: space-between;
                font-size: 1.2em;
                background-color: $brand-tertiary;
                color: $brand-quaternary;
                padding: 0.5rem 0.5rem;
                margin-bottom: 0.5rem;
                
                button.delete-diagnosis {
                    background-color: transparent;
                    color: $brand-quaternary;
                    padding: 0;
                    &:disabled {
                        color: $oc-gray-7;
                    }
                }
            }
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
            div {
                input {
                    width: 100%;
                    background-color: $brand-quaternary;
                    padding: 0.5rem;
                    font-size: 1.2em;
                    &::placeholder {
                        font-size: 0.9em;
                        color: $oc-gray-5;
                    }
                }
                &:not(:last-child) {
                    input {
                        margin-bottom: 0.5rem;
                    }
                    textarea {
                        margin-bottom: 0.5rem;
                    }
                }
                textarea {
                    background-color: $brand-quaternary;
                    padding: 0.5rem;
                    min-width: 100%;
                    width: 100%;
                    max-width: 100%;
                    font-size: 1.2em;
                    border: none;
                    &::placeholder {
                        font-size: 0.9em;
                        color: $oc-gray-5;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
    
}