.SearchCaseList {
    font-size: 1.3em;
    padding: 0 1rem;
    &.loading {
        margin-top: 3rem;
    }
    .no-more-load {
        padding: 2rem 0;
        letter-spacing: 2px;
        line-height: 1.8rem;
        color: $brand-quaternary;
        text-align: center;
    }
}