.CommentDetail {
    padding: 3rem 1rem 1rem;
    .close-modal {
        cursor: pointer;
        position: fixed;
        top: 1rem;
        right: 1rem;
        img {
            width: 16px;
        }
    }
    h6 {
        font-size: 1.5em;
        position: relative;
        margin-top: 1rem;
        margin-bottom: 4rem;
        span {
            position: relative;
            background-color: white;
            z-index: 1001;
            padding: 0 0.8rem;
            font-weight: 700;
        }
        .divider-horizontal {
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $gray-2;
            z-index: 100;
            top: 50%;
        }
    }
    .detail-item-box {
        font-size: 1.3em;
        padding: 2.5rem 1rem 1rem;
        position: relative;
        background-color: $brand-primary;
        margin-bottom: 3rem;
        p {
            line-height: 1.5em;
        }
        li {
            display: flex;
            background-color: white;
            padding: 0.75rem 0;
            margin-bottom: 0.5rem;
            font-weight: 300;
            .sub-title,
            .name {
                flex: 1;
                min-width: 10rem;
                padding-right: 2rem;
                white-space: normal;
                word-break: break-all;
            }
            div:not(:first-child) {
                flex: 10;
                white-space: normal;
                word-break: break-all;
            }
            .herb-dose {
                flex: 1 !important;
                min-width: 5rem;
                width: 5rem;
                margin-right: 1rem;
            }
        }
        li:last-child {
            margin-bottom: 0;
        }
        .main-title {
            font-size: 1.5em;
            position: absolute;
            top: -18px;
            left: 5px;
            background-color: $gray-2;
            padding: 0.5rem 1rem;
            font-weight: 700;
        }
    }
    .diagnosis-reference,
    .drug-reference {
        a {
            cursor: pointer;
            text-decoration: underline !important;
        }
    }
    .like-box {
        color: white;
        text-align: center;
        padding: 2rem 0;
        p {
            font-size: 0.9em;
        }
        .like {
            margin-top: 2rem;
            font-size: 1.3em;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon {
                display: flex;
                align-items: center;
                margin-right: 0.4rem;
            }
        }
    }
}