.ConfirmComment {
    p {
        text-align: center;
        font-size: 1.4em;
        margin-top: 2rem;
        margin-bottom: 4rem;
        color: $brand-quaternary;
    }
    h6 {
        font-size: 1.2em;
        position: relative;
        margin-bottom: 1rem;
        color: $brand-quaternary;
        span {
            position: relative;
            background-color: $brand-primary;
            z-index: 1001;
            padding-right: 0.5rem;
            font-weight: 700;
        }
        .divider-horizontal {
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $brand-quaternary;
            z-index: 100;
            top: 50%;
        }
    }
    input {
        width: 100%;
        background-color: $brand-quaternary;
        padding: 0.5rem;
        font-size: 1.2em;
        &::placeholder {
            font-size: 0.9em;
            color: $oc-gray-5;
        }
    }
    button {
        user-select: none;
        cursor: pointer;
        display: inline-block;
        background-color: $oc-teal-9;
        padding: 1rem;
        &:disabled {
            cursor: no-drop;
            background-color: $oc-gray-1;
            color: $oc-gray-3;
        }
        &.add-formula {
            color: $brand-quaternary;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5em;
            padding: 0.5rem;
        }
    }
    .drug-name {
        margin-bottom: 0.5rem;
    }
    ul.diagnosis {
        margin-bottom: 2rem;
        li {
            .list-item-header {
                display: flex;
                justify-content: space-between;
                font-size: 1.2em;
                background-color: $brand-tertiary;
                color: $brand-quaternary;
                padding: 0.5rem 0.5rem;
                margin-bottom: 0.5rem;
                
                button.delete-diagnosis {
                    background-color: transparent;
                    color: $brand-quaternary;
                    padding: 0;
                    &:disabled {
                        color: $oc-gray-7;
                    }
                }
            }
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
            div {
                input {
                    width: 100%;
                    background-color: $brand-quaternary;
                    padding: 0.5rem;
                    font-size: 1.2em;
                    &::placeholder {
                        font-size: 0.9em;
                        color: $oc-gray-5;
                    }
                }
                &:not(:last-child) {
                    input {
                        margin-bottom: 0.5rem;
                    }
                    textarea {
                        margin-bottom: 0.5rem;
                    }
                }
                textarea {
                    background-color: $brand-quaternary;
                    padding: 0.5rem;
                    min-width: 100%;
                    width: 100%;
                    max-width: 100%;
                    font-size: 1.2em;
                    border: none;
                    &::placeholder {
                        font-size: 0.9em;
                        color: $oc-gray-5;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
    ul.drug {
        margin-bottom: 2px;
        li {
            display: flex;
            position: relative;
            .list-item-header {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.2em;
                // background-color: $oc-gray-8;
                color: $brand-quaternary;
                padding: 0.5rem 1rem;
                margin-bottom: 0.2rem;
                
                button.delete-formula {
                    background-color: transparent;
                    color: $oc-gray-8;
                    padding: 0;
                    &:disabled {
                        color: $oc-gray-4;
                    }
                }
            }
            &:not(:last-child) {
                margin-bottom: 2px;
            }
            div {
                input {
                    background-color: $brand-quaternary;
                    padding: 0.5rem;
                    font-size: 1.2em;
                    &::placeholder {
                        font-size: 0.9em;
                        color: $oc-gray-5;
                    }
                }
                textarea {
                    background-color: $brand-quaternary;
                    padding: 0.5rem;
                    min-width: 100%;
                    width: 100%;
                    max-width: 100%;
                    font-size: 1.2em;
                    border: none;
                    &::placeholder {
                        font-size: 0.9em;
                        color: $oc-gray-5;
                    }
                    &:focus {
                        outline: none;
                    }
                }
                &:not(:last-child) {
                    margin-right: 2px;
                }
                &.herb {
                    width: 100%;
                }
                &.dose {
                    width: 30%;
                }
                &.unit {
                    input {
                        padding-inline-end: 3rem;
                    }
                }
            }
        }
    }
    div {
        &.textarea-container {
            margin-top: 0.5rem;
        }
        &.teaching {
            margin-bottom: 2rem;
        }
        input {
            background-color: $brand-quaternary;
            padding: 0.5rem;
            font-size: 1.2em;
            &::placeholder {
                font-size: 0.9em;
                color: $oc-gray-5;
            }
        }
        textarea {
            background-color: $brand-quaternary;
            padding: 0.5rem;
            min-width: 100%;
            width: 100%;
            max-width: 100%;
            font-size: 1.2em;
            border: none;
            &::placeholder {
                font-size: 0.9em;
                color: $oc-gray-5;
            }
            &:focus {
                outline: none;
            }
        }
    }
}