.CaseListItem {
    margin-top: 4rem;
    z-index: $basic-z-index;
    &:first-child {
        margin-top: 4rem;
    }
    & > div.list-item-container {
        position: relative;
        display: flex;
        width: 100%;
        min-height: 90px;
        cursor: pointer;
        @include transEase;
        &:hover {
            opacity: 0.8;
        }
        
        .status-bar {
            font-size: 0.8em;
            position: absolute;
            padding: 0.5rem;
            top: -18px;
            left: 5px;
            display: flex;
            justify-content: space-between;
            background-color: $oc-gray-4;
            z-index: $status-bar-z-index;
            div {
                display: flex;
                align-items: center;
                padding: 0 0.5rem;
                span {
                    display: flex;
                    align-items: center;
                    margin-right: 0.2rem;
                }
            }
        }
        .basic-info,
        .symptom {
            padding: 0.5rem 1rem;
            font-weight: 300;
        }
        .basic-info {
            position: relative;
            flex: 1;
            display: flex;
            align-items: center;
            // justify-content: space-around;
            font-size: 1.4em;
            padding-left: 0;
            padding-right: 0;
            background-color: $oc-gray-9;
            color: white;
            .gender,
            .age {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .divider-vertical {
                position: absolute;
                left: 50%;
                width: 1px;
                height: 55%;
                background-color: $oc-gray-7;

            }
        }
        .symptom {
            background-color: $brand-primary;
            flex: 1.5;
            position: relative;
            .title {
                position: absolute;
                top: -18px;
                right: 5px;
                padding: 0.5rem;
                color: white;
                background-color: $oc-red-5;
                font-size: 0.9em;
                font-weight: 500;
            }
            .symptom-list {
                color: white;
                width: 100%;
                padding: 0 1rem;
                display: flex;
                flex-wrap: wrap;
                li {
                    width: 50%;
                    margin-bottom: 0.8rem;
                }
                li:nth-child(1),
                li:nth-child(2) {
                    margin-top: 0.5rem;
                }
            }
        }
    }
    .myCase-question-list {
        margin-top: 0.5rem;
        .question {
            font-weight: 300;
            .question-status {
                display: flex;
                background-color: $oc-gray-9;
                font-size: 0.8em;
                color: white;
                .status {
                    color: $oc-red-9;
                    font-weight: 700;
                }
                &.answered .status {
                    color: $oc-green-9;
                    font-weight: 300;
                }
                div {
                    border: 1px solid $oc-gray-7;
                    padding: 0.5rem 1rem;
                }
                div:nth-child(2),
                div:nth-child(3) {
                    border-left: none;
                }
                div:last-child {
                    border-left: none;
                }
                .number {
                    flex: 0.3;
                }
                .status {
                    flex: 1;
                }
                .user {
                    flex: 1.5;
                }
                .date {
                    flex: 1;
                }
                
                &.answered + .question-content {
                    font-weight: 300;
                }
            }
            .question-content {
                padding: 1.5rem 1rem 1.5rem 2.5rem;
                background-color: $oc-gray-9;
                font-size: 0.8em;
                color: white;
                font-weight: 700;
            }
        }
    }
    .myComment-drug {
        margin-top: 0.5rem;
        display: flex;
        background-color: $oc-gray-9;
        padding: 1rem 0;
        font-size: 0.8em;
        color: white;
        border-top: 1px solid $oc-gray-7;
        .drug-name {
            flex: 2;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 0.5rem 0;
            .icon {
                margin-bottom: 0.3rem;
                font-size: 2em;
            }
        }
        .drug-formula {
            flex: 3;
            border-left: 1px solid $oc-gray-7;
            border-right: 1px solid $oc-gray-7;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                display: flex;
                justify-content: center;
                &:not(:last-child) {
                    margin-bottom: 0.7rem;
                }
                .herb {
                    position: relative;
                    padding-right: 0.7rem;
                    &::after {
                        content: '';
                        width: 1px;
                        height: 100%;
                        background-color: $oc-red-5;
                        position: absolute;
                        right: 0;
                    }
                }
                .dose {
                    padding-left: 0.7rem;
                }
            }
        }
        .like-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .icon {
                margin-bottom: 0.5rem;
                font-size: 1.5em;
            }
            .like-count {
                font-size: 1.2em;
            }
        } 
    }
}