.CaseListItem {
    margin-top: 3rem;
    z-index: $basic-z-index;
    &:first-child {
        margin-top: 2rem;
    }
    & > div.list-item-container {
        position: relative;
        display: flex;
        width: 100%;
        min-height: 90px;
        cursor: pointer;
        @include transEase;
        &:hover {
            opacity: 0.8;
        }
        .top {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 1rem;
        }
        .bottom {
            font-size: 1.25rem;
            font-weight: 500;
            div:last-child {
                padding-left: 0;
                margin-left: auto;
                font-size: 1rem;
                font-weight: 400;
            }
        }
        .status-bar {
            font-size: 0.8em;
            position: absolute;
            padding: 1rem 0rem;
            // top: -12px;
            // left: 5px;
            bottom: 0;
            width: 100%;
            background-color: $gray-1;
            color: black;
            font-weight: 100;
            z-index: $status-bar-z-index;
            div {
                display: flex;
                align-items: center;
                padding: 0 0.8rem;
                span {
                    display: flex;
                    align-items: center;
                    margin-right: 0.5rem;
                }
            }
        }
        .card-body {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: $gray-3;
            color: white;
            padding: 1.5rem 1rem 6.5rem;
            letter-spacing: 2.5px;
        }
        .basic-info,
        .symptom {
            display: flex;
            // padding: 0.5rem 1rem 2rem;
            
            .label {
                min-width: 4rem;
                font-weight: 700;
            }
            .content-box {
                display: flex;
                font-weight: 400;
                flex: 4;
                
            }
        }
        .basic-info {
            position: relative;
            // flex: 1;
            display: flex;
            // justify-content: space-around;
            // font-size: 1.4em;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 1rem;
            .gender-age {
                flex: 1;
            }
            // .divider-vertical {
            //     width: 1px;
            //     height: 50%;
            //     background-color: $brand-quaternary;
            // }
        }
        .symptom {
            // flex: 1.5;
            position: relative;
            .title {
                position: absolute;
                top: -12px;
                right: 5px;
                padding: 0.5rem;
                background-color: $oc-red-5;
                font-size: 0.9em;
                font-weight: 500;
            }
            .symptom-list {
                // padding: 0.8rem 0.5rem;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                
                // flex-wrap: wrap;
                li {
                    display: inline;
                    word-wrap: normal;
                    word-break: keep-all;
                    white-space: nowrap;
                    list-style: none;
                }
            }
        }
    }
    .myCase-question-list {
        margin-top: 0.5rem;
        color: $gray-4;
        .question {
            font-weight: 400;
            &:not(:last-child) {
                .question-content {
                    border-bottom: none;
                }
            }
            .question-status,
            .question-content {
                background-color: $brand-secondary;
                border: 1px solid $brand-tertiary;
                border-right: none;
                border-left: none;
            }
            .question-status {
                display: flex;
                font-size: 0.8em;
                color: $gray-4;
                .status {
                    color: $oc-red-9;
                    font-weight: 700;
                }
                &.answered .status {
                    color: $oc-green-9;
                    font-weight: 400;
                }
                div {
                    padding: 0.5rem 1rem;
                }
                div:nth-child(2),
                div:nth-child(3) {
                    border-left: none;
                }
                div:last-child {
                    border-left: none;
                }
                .number {
                    flex: 0.3;
                }
                .status {
                    flex: 1;
                }
                .user {
                    flex: 1.5;
                }
                .date {
                    flex: 1;
                }
                
                &.answered + .question-content {
                    font-weight: 400;
                }
            }
            .question-content {
                padding: 1rem 1rem 1rem 2.5rem;
                font-size: 0.8em;
                color: $gray-4;
                font-weight: 700;
                border-top: none;
            }
        }
    }
    .myComment-drug {
        // margin-top: 0.5rem;
        display: flex;
        // background-color: $oc-gray-9;
        background-color: $brand-secondary;
        padding: 1rem 0;
        font-size: 0.8em;
        // color: $brand-quaternary;
        border-top: 1px solid $oc-gray-7;
        .drug-name {
            flex: 1.5;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 0.5rem 0;
            .name {
                padding: 0 1rem;
            }
            .icon {
                margin-bottom: 0.3rem;
                font-size: 2em;
            }
        }
        .drug-formula {
            flex: 3.5;
            border-left: 1px solid $oc-gray-7;
            border-right: 1px solid $oc-gray-7;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                display: flex;
                justify-content: center;
                &:not(:last-child) {
                    margin-bottom: 0.7rem;
                }
                .herb {
                    position: relative;
                    padding-right: 0.7rem;
                    &::after {
                        content: '';
                        width: 1px;
                        height: 100%;
                        background-color: $oc-red-5;
                        position: absolute;
                        right: 0;
                    }
                }
                .dose {
                    padding-left: 0.7rem;
                }
            }
        }
        .like-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .icon {
                margin-bottom: 0.5rem;
                font-size: 1.5em;
            }
            .like-count {
                font-size: 1.2em;
            }
        } 
    }
}