.CaseDetail {
    padding: 8rem 1rem 4rem;
    font-size: 1rem;
    .status-bar {
        font-size: 1.2em;
        padding: 0.5rem;
        display: flex;
        background-color: $oc-gray-4;
        z-index: $status-bar-z-index;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0.5rem;
            span {
                display: flex;
                align-items: center;
                margin-right: 0.2rem;
                font-size: 1.1em;
            }
        }
    }
    ul.tab-header-list {
        margin-top: 3rem;
        margin-bottom: 3rem;
        position: relative;
        .divider-horizontal {
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $gray-2;
            z-index: 100;
            top: 50%;
        }
        display: flex;
        justify-content: space-around;
        margin-bottom: 5rem;
        
        li.tab-header-item {
            background-color: white;
            z-index: 1001;
            cursor: pointer;
            position: relative;
            padding: 0rem 0.8rem;
            font-size: 1.3em;
            @include transEase;
            &:hover {
                opacity: 0.8;
            }
            &.active span {
                position: absolute;
                top: 1.6rem;
                left: 50%;
                width: 80%;
                height: 3px;
                background-color: $brand-primary;
                transform: translateX(-50%);
            }
        }
    }
}
.requestInfo-addComment {
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    div {
        background-color: rgba(black, 0.5);
        color: white;
        font-weight: 700;
        font-size: 1.8em;
        padding: 1rem;
        border-radius: 100%;
        text-align: center;
    }
    div:first-child {
        margin-bottom: 1rem;
    }
}