.CommentCard {
    .comment-item {
        background-color: $brand-secondary;
        position: relative;
        font-size: 1.1em;
        padding: 1.5rem 1rem 1rem;
        margin-bottom: 7rem;
        .like {
            display: flex;
            align-items: center;
            position: absolute;
            top: -12px;
            left: 5px;
            background-color: $brand-quaternary;
            padding: 0.5rem 1rem;
            .icon,
            .count {
                display: flex;
                align-items: center;
            }
            .icon {
                margin-right: 0.2rem;
            }
        }
        .edit-delete {
            position: absolute;
            top: -12px;
            display: flex;
            right: 5px;
            background-color: $brand-quaternary;
            font-weight: 300;
            button {
                background-color: $brand-quaternary;
                padding: 0.5rem 1rem;
                cursor: pointer;
                @include transEase;
                &:hover {
                    opacity: 0.5;;
                }
            }
        }
        .more-view {
            cursor: pointer;
            text-align: center;
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: $brand-tertiary;
            color: $brand-quaternary;
            padding: 0.8rem 0rem;
            letter-spacing: 2px;
            font-weight: 500;
            @include transEase;
            &:hover {
                opacity: 0.7;
            }
        }
        .diagnosis,
        .prescription {
            display: flex;
            font-weight: 300;
            padding: 0.75rem 0;
            line-height: 1.8rem;
            letter-spacing: 2px;
            color: $brand-quaternary;
            .title {
                min-width: 10rem;
                padding-right: 2rem;
                white-space: normal;
                word-break: break-all;
            }
        }
        .diagnosis {
            margin-bottom: 0.5rem;
            li:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
    .my_comment {
        margin-top: 4rem;
    }
    .no_comment {
        color: $brand-quaternary;
        font-weight: 300;
        padding: 2rem 1rem;
        p {
            padding: 0.5rem;
        }
    }
}