.BasicInfo {
    padding-top: 3rem;
    &.loading {
        margin-top: 3rem;
    }
    .PatientInfo,
    .Symptom,
    .Lab,
    .Exam,
    .drug,
    .question {
        color: black;
        font-size: 1.1em;
        padding: 2.5rem 1rem 1rem;
        position: relative;
        background-color: $brand-secondary;
        margin-bottom: 3rem;
        li {
            display: flex;
            padding: 0.75rem 0;
            margin-bottom: 0.5rem;
            font-weight: 400;
            letter-spacing: 2px;
            line-height: 1.5rem;
            .sub-title,
            .name {
                flex: 3;
                min-width: 6.5rem;
                padding-right: 2rem;
                white-space: normal;
                word-break: break-all;
            }
            
            div:not(:first-child) {
                flex: 10;
                white-space: normal;
                word-break: break-all;
            }
            .value-unit {
                flex: 3 !important;
                min-width: 8rem;
                width: 8rem;
                margin-right: 1rem;
                display: flex;
                align-items: center;
                .value {
                    word-break: keep-all;
                    margin-right: 0.2rem;
                }
                .unit {
                    word-break: break-all;
                    font-size: 0.8em;
                }
            }
        }
        li:last-child {
            margin-bottom: 0;
        }
    }
    .Symptom {
        .name {
            min-width: 8.5rem !important;
        }
    }
    .Lab {
        .red {
            color: rgb(241, 10, 10);
        }
        .blue {
            color: rgb(9, 9, 224);
        }
        li div {
            display: flex;
            align-items: center;
            &.name {
                flex: 3.5;
            }
            &.state {
                flex: 2;
                span {
                    display: inline-block;
                }
            }
        }
        .unit {
            color: $brand-tertiary;
        }
    }
    .Exam {
        .empty-exam {
            // color: $brand-quaternary;
            padding: 1rem 0;
            font-weight: 100;
        }
    }
    .main-title {
        font-size: 1.5em;
        position: absolute;
        top: -18px;
        left: 5px;
        background-color: $brand-tertiary;
        padding: 0.5rem 1rem;
        font-weight: 500;
        color: $brand-quaternary;
    }
    .sorting-box {
        font-size: 1em;
        position: absolute;
        top: -14px;
        right: 10px;
        // background-color: $brand-tertiary;
        // padding: 0.5rem 1rem;
        font-weight: 400;
        color: $brand-quaternary;
        select {
            background-color: white;
            letter-spacing: 2px;
            outline: none;
            font-size: 1.2rem;
        }
    }
}