.BasicInfo {
    padding-top: 3rem;
    &.loading {
        margin-top: 3rem;
    }
    .PatientInfo,
    .Symptom,
    .Lab,
    .Exam {
        font-size: 1.3em;
        padding: 2.5rem 1rem 1rem;
        position: relative;
        background-color: $brand-primary;
        margin-bottom: 3rem;
        li {
            display: flex;
            background-color: white;
            padding: 0.75rem 0;
            margin-bottom: 0.5rem;
            font-weight: 300;
            .sub-title,
            .name {
                flex: 2;
                min-width: 6.5rem;
                padding-right: 2rem;
                white-space: normal;
                word-break: break-all;
            }
            div:not(:first-child) {
                flex: 10;
                white-space: normal;
                word-break: break-all;
            }
            .value-unit {
                flex: 3 !important;
                min-width: 8rem;
                width: 8rem;
                margin-right: 1rem;
                display: flex;
                align-items: center;
                .unit {
                    font-size: 0.8em;
                    color: $oc-gray-7;
                }
            }
        }
        li:last-child {
            margin-bottom: 0;
        }
    }
    .main-title {
        font-size: 1.5em;
        position: absolute;
        top: -18px;
        left: 5px;
        background-color: $gray-2;
        padding: 0.5rem 1rem;
        font-weight: 700;
    }
}