.ProgressBar {
    width: 100%;
    user-select: none;
    ul {
        display: flex;
        position: relative;
        li {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            .count-title-box {
                padding: 0 1rem;
                background-color: $brand-primary;
                z-index: 100;
                .step-title {
                    color: $brand-secondary;
                }
                .step-count {
                    color: $brand-secondary;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                    height: 20px;
                    border: 1px solid $brand-secondary;
                    border-radius: 100%;
                    margin-bottom: 4px;
                }
                &.active {
                    .step-title {
                        color: $brand-quaternary;
                    }
                    .step-count {
                        border-color: $brand-quaternary;
                        color: $brand-quaternary;
                    }
                }
                &.done, &.complete {
                    color: $brand-quaternary;
                    .step-title {
                        color: $brand-quaternary;
                    }
                    .step-count {
                        color: $brand-quaternary;
                        border-color: $brand-quaternary;
                    }
                }
            }   
        }
        .progress {
            width: 66.6666%;
            position: absolute;
            top: 50%;
            left: 16.6666%;
            transform: translateY(-50%);
        }
        .progress-bar {
            position: absolute;
            width: 0%;
            height: 2px;
            &.frame {
                width: 100%;
                background-color: $brand-secondary;
            }
            
            &.active {
                background-color: $brand-quaternary;
            }
        }
    }
}