.UpdatedCase {
    width: 100%;
    min-height: 50vh;
    a {
        cursor: pointer;
        width: 100%;
        margin-top: 2em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        background-color: $brand-primary;
        color: $brand-quaternary;
        padding: 1rem 0;
        text-decoration: underline;
    }
}