@import './resetCSS';

// Google Font
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,400,700,900&display=swap&subset=korean');


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /**
     * screen size : under 480px
    **/
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    
    @include media("xs") {
        
    }
    @include media("sm") {
        
    }
    @include media("md") {
        
    }
    @include media("lg") {

    }
    @include media("xl") {
        font-size: 16px;
    }
}

body {
    box-sizing: border-box;

    #root {
        position: relative;
    }
}