.Comment {
    padding-top: 3rem;
    .my-comment {
        h6 {
            font-size: 1.5em;
            position: relative;
            span {
                position: relative;
                background-color: white;
                z-index: 1001;
                padding: 0 0.8rem;
                font-weight: 700;
            }
            .divider-horizontal {
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: $gray-2;
                z-index: 100;
                top: 50%;
            }
        }

        .comment-item {
            background-color: $brand-primary;
            position: relative;
            font-size: 1.3em;
            padding: 1.5rem 1rem 1rem;
            margin-bottom: 7rem;
            &:last-child {
                margin-bottom: 0;
            }
            .like {
                position: absolute;
                top: -18px;
                left: 5px;
                background-color: $oc-yellow-6;
                padding: 0.5rem 1rem;
            }
            .edit-delete {
                position: absolute;
                top: -18px;
                display: flex;
                right: 5px;
                background-color: $gray-2;
                font-weight: 300;
                button {
                    padding: 0.5rem 1rem;
                    cursor: pointer;
                    @include transEase;
                    &:hover {
                        opacity: 0.5;;
                    }
                }
            }
            .more-view {
                cursor: pointer;
                text-align: center;
                width: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: $oc-gray-4;
                color: black;
                padding: 0.8rem 0rem;
                letter-spacing: 2px;
                font-weight: 300;
                @include transEase;
                &:hover {
                    opacity: 0.7;
                }
            }
            .diagnosis,
            .prescription {
                display: flex;
                font-weight: 300;
                background-color: white;
                padding: 0.75rem 0;
                .title {
                    min-width: 10rem;
                    padding-right: 2rem;
                    white-space: normal;
                    word-break: break-all;
                }
            }
            .diagnosis {
                margin-bottom: 0.5rem;
                li:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
        .no-comment {
            color: white;
            font-weight: 300;
            padding: 2rem 1rem;
            p {
                padding: 0.5rem;
            }
        }
    }
}