.QuestionBoard {
    padding: 8rem 1rem 4rem;
    font-size: 1rem;

    li {
        cursor: pointer;
        // padding: 1rem;
        background-color: $brand-secondary;
        color: $brand-quaternary;
        font-weight: 400;
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    .question-list-item-top {
        color: black;
        padding: 0.5rem;
        display: flex;
        border-top: 1px solid $brand-tertiary;
        border-bottom: 1px solid $brand-tertiary;
        .request-type {
            display: flex;
            align-items: center;
        }
        span {
            flex: 1;
        }
        span:first-child {
            flex: 0.5;
        }
        span:last-child {
            flex: 0.5;
        }
        .answer {
            color: $oc-green-8;
        }
        .unanswer {
            color: $oc-red-8;
        }
    }
    .question-list-item-bottom {
        color: black;
        border-bottom: 1px solid $brand-tertiary;
        p {
            padding: 1rem;
        }
    }
}