.Header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    height: $header-height;
    background-color: $brand-primary;
    color: white;
    padding: 2em;
    display: flex;
    align-items: center;
    z-index: $header-z-index;
    .header-flex-box {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.search {
            justify-content: flex-start;
        }
        .logo {
            cursor: pointer;
            font-size: 1.8em;
        }
        img {
            cursor: pointer;
            width: 2em;
        }
        .home-button {
            cursor: pointer;
            font-size: 2.4em;
        }
        .search-bar {
            position: relative;
            padding-left: 4rem;
            padding-right: 0rem;
            width: 100%;
            input.search-bar-input {
                width: 100%;
                font-size: 1.2em;
                padding: 0.4rem 0rem;
                padding-left: 0.2rem;
                padding-right: 3.5rem;
                border-bottom: 1px solid $gray-2;
                font-weight: 300;
                color: white;
            }
            & > span {
                position: absolute;
                padding: 0.5rem 0.5rem;
                background-color: $brand-primary;
                top: calc(50% + 0.5rem + 1px);
                right: -0.5rem;
                transform: translateY(calc(-50% - 0.5rem - 0.5px));
                img {
                    width: 2rem;
                }
            }
        }
    }
}