.Sidebar {
    position: absolute;
    z-index: $sidebar-z-index;
    width: 80%;
    left: -80%;
    height: 100vh;
    background-color: white;
    padding-bottom: 2rem;
    transition: left 0.2s ease;
    &.isOpen {
        left: 0;
    }
    .close-icon {
        cursor: pointer;
        position: absolute;
        top: 2rem;
        padding-left: 2rem;
        img {
            width: 2em;
        }
    }
    .sidebar-icon {
        margin-right: 1rem;
    }
    .flex-box-top {
        padding-top: 6rem;
        background-color: $brand-primary;
        .service-title,
        .user {
            padding: 0.5rem 2rem;
            color: white;
        }
        .service-title {
            font-size: 2.5em;
            margin-bottom: 2rem;
            font-weight: 700;
        }
        .user {
            padding: 1.5rem 2rem;
            font-size: 1.2em;
            margin-bottom: 1px;
            font-weight: 500;
            .username {
                letter-spacing: 2px;
            }
            .title {
                font-size: 0.8em;
                letter-spacing: 1px;
            }
        }
    }
    .flex-box-bottom {
        li {
            cursor: pointer;
            font-size: 1.2em;
            background-color: $gray-1;
            margin-bottom: 1px;
            font-weight: 300;
            @include transEase;
            &.logout {
                display: flex;
                align-items: center;
                padding: 1.5rem 2rem;
            }
            &:hover {
                opacity: 0.8;
            }
            a {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 1.5rem 2rem;
            }
            span {
                display: flex;
                align-items: center;
            }
        }
    }
}