.Question {
    padding-top: 3rem;
    min-height: 60vh;
    &.loading {
        margin-top: 3rem;
    }
    .empty-question {
        color: $brand-quaternary;
        background-color: $brand-secondary;
        font-weight: 300;
        padding: 1rem 1rem 1rem;
        margin-bottom: 3rem;
        font-size: 1.3em;
        p {
            padding: 0.5rem;
        }
    }
}