.QuestionCreate {
    padding: 8rem 1rem 4rem;
    h1 {
        margin-bottom: 2rem;
        padding: 0 0.75rem;
        font-size: 1.3em;
        letter-spacing: 2px;
        line-height: 1.8rem;
        color: $brand-quaternary;
    }
    button {
        letter-spacing: 2px;
        margin-top: 1rem;
        width: 100%;
        color: $brand-quaternary;
        user-select: none;
        cursor: pointer;
        display: inline-block;
        background-color: $brand-tertiary;
        padding: 1rem;
        font-size: 1.1em;
        &:disabled {
            cursor: no-drop;
            background-color: $oc-gray-1;
            color: $oc-gray-3;
        }
    }
    .form-container {
        div {
            input {
                background-color: $brand-quaternary;
                padding: 0.5rem;
                font-size: 1.2em;
                &::placeholder {
                    font-size: 0.9em;
                    color: $oc-gray-5;
                }
            }
            textarea {
                background-color: $brand-quaternary;
                padding: 0.5rem;
                min-width: 100%;
                width: 100%;
                max-width: 100%;
                font-size: 1.2em;
                border: none;
                &::placeholder {
                    font-size: 0.9em;
                    color: $oc-gray-5;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}