.LoginForm {
    display: flex;
    flex-direction: column;
    input {
        @include cm-input;
    }
    .login-pw-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        // 비밀번호찾기
        a {
            align-self: flex-end;
            font-size: 0.8em;
            margin-top: -0.6rem;
            margin-right: 0.6rem;
            font-weight: 300;
            @include cm-a;
            span {
                top: 1.1rem;
            }
        }
    }
    // 로그인
    a.login-login-button {
        @include cm-button;
        text-align: center;
        margin-bottom: 1rem;
    }
    // 회원가입 링크
    .login-signup-link {
        text-align: center;
        font-weight: 300;
        a {
            @include cm-a;
        }
    }
}