.Note {
    background-color: $oc-gray-3;
    margin-top: 2rem;
    padding: 1rem;
    
    div {
        input {
            background-color: white;
            padding: 0.5rem;
            font-size: 1.2em;
            &::placeholder {
                font-size: 0.9em;
                color: $oc-gray-5;
            }
        }
        textarea {
            background-color: white;
            padding: 0.5rem;
            min-width: 100%;
            width: 100%;
            max-width: 100%;
            font-size: 1.2em;
            border: none;
            &::placeholder {
                font-size: 0.9em;
                color: $oc-gray-5;
            }
            &:focus {
                outline: none;
            }
        }
    }
}